DEBUG=True
SECRET_KEY=tu-secret-key-aqui
DJANGO_SETTINGS_MODULE=config.settings.development

DB_NAME=agrigestor_db
DB_USER=agrigestor_user
DB_PASSWORD=tu-password-aqui
DB_HOST=localhost
DB_PORT=5432

JWT_SECRET_KEY=tu-jwt-secret-aqui
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

OPENWEATHER_API_KEY=tu-api-key-aqui